body {
  background-image: linear-gradient(25deg, black, black);
  margin: 0;
}

main {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}
#nameanddev {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  background-color: black;
  color: white;
  width: 100%;
  overflow: hidden;
  height: fit-content;
}
.nameIntroduction {
  font-size: 35px;
  color: white;
  margin: 15px 20px 0px 35px;
  animation-name: left-to-right;
  animation-duration: 2s;
}
h1,
h2 {
  color: white;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: white;
  background-color: rgb(221, 3, 3);
}
#technologies {
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  padding: 50px;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 250px);
  gap: 45px;
}

header li {
  display: inline;
  margin-left: 15px;
}
footer li {
  display: inline;
  margin-left: 15px;
}
#claudio {
  max-width: 450px;
  max-height: 450px;
  display: block;
  animation: foto;
  animation-duration: 2s;
}
h2 {
  margin-left: 35px;
  font-size: 25px;
}
.tech-card {
  width: 200px;
  height: 250px;
  transition: 700ms;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}
#projects {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(4, 250px);
  column-gap: 80px;
  padding: 50px;
  height: 100vh;
}
#promedy {
  background-color: blueviolet;
}
.project-card {
  width: 250px;
  height: 250px;
  background-color: #0da9e7;
  position: relative;
  transition: 700ms;
  margin-right: 35px;
  display: flex;
  padding: 5px;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}
.project-card h2 {
  margin-left: auto;
  margin-right: auto;
}
.projectDescription{
  justify-content: center;
  text-align: center;
}

.project-card:hover .v {
  transform: translateY(-25px);
  opacity: 1;
}
.project-card:hover .projectDescription {
  transform: translateX(0px) translateY(-45px);
  opacity: 1;
}
.project-card:hover {
  box-shadow: 0px 0px 25px 3px rgb(105, 12, 212);
  transform: scale(1.2);
  height: 320px;

  
}

.vlist{
  display:flex;
  margin: auto;
  justify-content: space-evenly;
}
.v {
  transform: translateY(50px);
  transition: 0.5s;
  margin: 5px;
  opacity: 0;
}

.projectDescription{
  transition: 700ms;
  transform: translateX(40px);
  opacity: 0;
}
.projectImg{
  transition: 700ms;
  width:45%;
  height: auto;
}
.project-card:hover .projectImg{
  transform: scale(0.6) translateY(-50px);
  
}
/* .sci{
  position: absolute;
	bottom: 50px;
	display: flex;
}
.v{
	list-style: none;
  display: inline;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
  color: #21d4fd;
	opacity: 0;
} */
#HTML {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
}
#css {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}
#HTML {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
}

#flutter {
  background-image: linear-gradient(
    -225deg,
    #9efbd3 0%,
    #57e9f2 48%,
    #45d4fb 100%
  );
}
#java {
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
}

.img-techs {
  max-width: 100px;
  max-height: 100px;
}
.tech-card:hover {
  transform: translateY(-50px);
  box-shadow: 4px 4px 35px 0px rgba(16, 235, 144, 0.75);
}
@media (min-width:640px)and (max-width: 1100px ) {
  #technologies {
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 250px 250px;
    gap: 35px;
  }
  .tech-card {
    width: 150px;
    height: 250px;
    transition: 700ms;
  }
  #projects {
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(4, 200px);
    column-gap: 75px;
    row-gap: 45px;
  
  }
  .project-card {
    width: 200px;
    height: 200px;
   
    
  }
  .project-card:hover {
    transform: scale(1.15);
    height: 320px;
    z-index: 5;
  
    
  }


}
@media (min-width:0px)and (max-width: 640px ) {
  header li {
    display: block;
    margin-left: 5px;
  }
  footer li {
    display: block;
    margin-left: 15px;
  }
  #claudio {
    max-width: 350px;
    max-height: 350px;
    display: block;
    animation: foto;
    animation-duration: 2s;
  }
  main {
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #technologies {
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: 250px 250px;
    gap: 25px;
  }
  .tech-card {
    width: 150px;
    height: 250px;
    transition: 500ms;
  }
  .img-techs {
    max-width: 70px;
    max-height: 70px;
  }
  #projects {
  
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(4, 180px);
    gap: 25px;
  
  }
  .project-card {
    width: 150px;
    height: 170px;
   
    
  }
  .project-card:hover {
    box-shadow: 0px 0px 25px 3px rgb(105, 12, 212);
    transform: scale(1.15);
    height: 320px;
    z-index: 5;
  
    
  }












}

@keyframes left-to-right {
  0% {
    left: -350px;
    position: relative;
  }

  100% {
    left: 0;
    position: relative;
  }
}
@keyframes foto {
  0% {
    right: -350px;
    position: relative;
  }

  100% {
    right: 0;
    position: relative;
  }
}
